.shop {
    padding: var(--extra-large-spacing);
    animation: slide-in 0.8s 1;
}

.product-list {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: 1fr;
    gap: calc(var(--medium-spacing) + 15px);
    justify-items: center;
    align-items: flex-start;
}

@media screen and (max-width: 600px) {
    .shop {
        padding: var(--extra-large-spacing) 0;
        margin: 0 auto;
    }

    .product-card {
        width: 300px;
    }
}